<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <h5>Copyright&copy; Ly Rozimy (Ra Mi)</h5><br>
            <span>National Meanchey University, Faculty of Science and Technology, Information Technology</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
